.teacher-container {
    height: 100vh;
    background: linear-gradient(-45deg,blue 50%, skyblue 40%, grey 40%, white 50%);
}

.teacher-login-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-signin {
    background-color: whitesmoke;
    width: 350px;
    height: 50%;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(44, 38, 38);

    form {
        height: 60%;
    }

    .text-filed {
        margin-top: 20px;
    }

    h4 {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        text-align: center;
        height: 10%;
    }
}

.teacher-signup-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: black;

    .signup-photo-grid {
        background-image: url('../images/teacher-signup.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: white;
            background: rgba(0, 0, 0, 0.45);
            font-size: 2rem;
        }
    }

    .signup-content-grid {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;

        td {
            padding: 20px;
        }

        .teacher-form {
            width: 15rem;
        }
    }

    @media screen and (max-width: 834px) {
        .signup-content-grid {
            display: block;
        }
    }
}

@media screen and (max-width: 925px) {
    .teacher-signup-container {
        display: block;

        .signup-photo-grid {
            display: none;
        }

        .signup-content-grid {
            height: 100vh;
        }
    }
}

.home-container {
    height: 100vh;

    .home-header {
        border: 1px solid black;
        height: 8vh;
        background-color: green;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .home-body {
        border: 1px solid black;
        height: 92vh;
        background-color: grey;
        display: grid;
        grid-template-columns: 250px 1fr;
        column-gap: 2px;

        .appbar {
            border: 1px solid yellow;
            height: 100%;
        }

        .content {
            border: 1px solid white;
        }
    }
}